:root{
    --DBackground: #121212;
    --DPrimary-Accent: #3498db;
    --DSecondary-Accent: #2ecc71;
    --DText: #ecf0f1;
    --DLink-Color: #e74c3c;

    --Background: #f8f9fa;
    --Primary-Accent: #3498db;
    --Secondary-Accent: #7ec9ff;
    --Text: #2c3e50;
    --Link-Color: #e74c3c; 
}

*{
 margin: 0px;
 padding: 0%;
 box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: var(--Background);
    font-family: Arial, Helvetica, sans-serif;
    color: var(--Text);
    transition: 0.5s;
    width: 100%;
}
header{
    background-color: var(--Background);
    position: sticky;
    top: 0%;
    z-index: 1;
    padding: 10px 5%;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    width: 100%;
}
.logo{
    text-decoration: none;
    font-size: 2rem;
    margin-right: auto;
    color: var(--Text);
}
.logo span{
    color: var(--Primary-Accent);
    font-weight: 700;
}
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
nav{
    display: flex;
    justify-content: center;
}
nav a{
    margin-right: 3rem;
    font-size: large;
    text-decoration: none;
    position: relative;
    color: var(--Text);
}
/* nav a.active::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: .2em;
    background: var(--Primary-Accent);
} */
nav a:hover{
    color:var(--Primary-Accent);
    text-decoration: underline;
    text-underline-offset: 0.5rem;
}
.moon, .sun{
    font-size: 2.5rem;
    color: var(--Primary-Accent);
    cursor: pointer;
}
.sun{
    font-size: 3rem;
    margin-right: 0.5rem;
}
.ham-nav{
    display: none;
}
.ham{
    /* position: relative;
    display: inline-block; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.ham-icon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}
.ham-icon span{
    width: 100%;
    height: 3px;
    background-color: var(--Primary-Accent);
    transition: all 0.3 ease-in-out;
}
.menu-links{
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--Secondary-Accent);
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}
.menu-links a{
    display: block;
    padding: 10px;
    text-align: center;
    color: var(--Text);
    text-decoration: none;
    transition: all 0.3 ease-in-out;
    color: var(--Background);
    font-size: 1.25rem;
}
.menu-links.open{
    max-height: fit-content;
}
.ham-icon.open span:first-child{
    transform: rotate(45deg) translate(10px, 5px);
}
.ham-icon.open span:nth-child(2){
    opacity: 0;
}
.ham-icon.open span:last-child{
    transform: rotate(-45deg) translate(10px, -5px);
}
/* .ham-icon span:first-child{
    transform: none;
}
.ham-icon span:first-child{
    opacity: 1;
}
.ham-icon span:first-child{
    transform: none;
} */
.mode{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
/* main{
    
} */

/* .home{
    border: 2px solid;
} */
.desc{
    display: flex;
    position: relative;
    /* top: 10%; */
    left: 50%;
    align-items: center;
    justify-content: center;
    width: 95%;
    transform: translate(-50%);
    padding: 20px;
    /* height: fit-content; */
    height: 100vh;
    height: 100vh;
    /* margin-top: 10vh; */
}
.preheadings{
    font-size: 1.5rem;
}
#name{
    font-size: 3.5rem;
}
.description{
    position: relative;
    bottom: 10%;
    left: 10%;
    font-size: large;
    width: 45%;
    align-items: center;
    /* background-color: blueviolet; */
}
.description h2 span{
    color: var(--Primary-Accent);
}
.description p,.About p{
    font-size: 1.5rem;
}
.pic,.pic2{
    width: 30%;
    border-radius: 50%;
    border: 5px solid var(--Primary-Accent);
    margin-right: 10%;
    position: relative;
    margin-left: auto;
    bottom: 10%;
}
.pic2{
    display: none;
}
.dbtn, .cbtn{
    margin-top: 5px;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    border: 2px solid transparent;
    border-radius: 10px;
    background: var(--Primary-Accent);
    color: var(--Background);
    box-shadow: 0 .1em .2em rgb(170, 170, 170);
    font-weight: 500;
    transition: .5s ease;
}
.dbtn:hover{
    background: transparent;
    color: var(--Primary-Accent);
    box-shadow: none;
    border-color: var(--Primary-Accent);
}
.cbtn{
    background: transparent;
    color: var(--Primary-Accent);
    box-shadow: none;
    border-color: var(--Primary-Accent);
}
.cbtn:hover{
    background: var(--Primary-Accent);
    color: white;
    box-shadow: 0 .1em .2em rgb(170, 170, 170);
}
/* .btngroup:nth-child(2):hover{

} */
/* .desclinks{
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    justify-content: space-evenly;
}
.desclinks img{
    width: 10%;
} */
.socialicons{
    margin-top: 5px;
    position: absolute;
    font-size: 2em;
    left: 4em;
    bottom: 4em;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.socialicons i{
    background: var(--Secondary-Accent);
    border: .05em solid var(--Secondary-Accent);
    border-radius: 50%;
    padding: 10px;
    margin: 5px;
    transition: .3s;
    color: var(--Background);
}
.socialicons i:hover{
    background: transparent;
    color: var(--Secondary-Accent);
    transform: translateY(-5px);

}

.projects{
    height: 100vh;
    border: 2px solid var(--Background);
}
.ph,.ah,.sh,.ach,.ch{
    text-align: center;
    margin-top: 15vh;
}
.projects h1,.About h1, .skills h1,.Achievements h1,.contact h1{
    text-align: center;
    font-size: 2.5em;
}
.pcontainer{
    height: 80vh;
    padding: 10px;
    /* background-color: blueviolet; */
    display: flex;
    justify-content:space-evenly;
}
.todomockup,.bgmockup{
    position: relative;
    width: 35%;
    top: 2%;
    height: 85%;
    border:5px solid  var(--Secondary-Accent);
    text-align: center;
    margin-right: 10px;
    border-radius: 10%;
    font-weight: 500;
    font-size: larger;
}
.todomockup p strong{
    font-weight: 700;
}
.todomockup img{
    height: 70%;    
}
.bgmockup img{
    height: 70%;
}
/* .todomockup dl, .bgmockup dl{
   width: 70%;
   margin-left: 15%;
   font-size: 1.5em;
} */
.mockbtn{
    cursor: pointer;
    border-radius: 40px;
    font-size: 1.25rem;
    padding: 5px 10px;
    border: 3px solid var(--Secondary-Accent);
    background-color: var(--Secondary-Accent);
    position: relative;
    top: 10px;
    margin: 2px;
    color: var(--Background);
}
.mockbtn:hover{
    border-color: var(--Secondary-Accent);
    background-color: var(--Background);
    color: var(--Secondary-Accent);
}
.mockcontainer a{
    text-decoration: none;
}
.mockcontainer a:visited{
    text-decoration: none;
}

.About{
    height: 100vh;
    border: 2px solid var(--Background);
}
.about-container{
    display: flex;
    align-items: center;
    padding: 2% 5%;
    justify-content: space-evenly;
}
.about-text{
    padding: 10px;
    width: 65%;
}
.about-pic{
    width: 30%;
    border: 5px solid var(--Primary-Accent);
    border-radius: 10px;
}
.about-pic2{
    display: none;
}
.card-container{
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}
.card{
    border: 2px solid var(--Text);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    background-color: var(--Secondary-Accent);
}
.card span{
    font-size: 2rem;
}
.card p{
    font-size: 1.25rem;
}

.skills{
    height: 100vh;
    border: 2px solid var(--Background);
}
.skills-container{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    /* background-color: blanchedalmond; */
    margin-top: 5px;
    padding: 10px;
}
.skills-container figure{
    margin: 20px;
}
.skills div img{
    width: 6vw;
}
.skills span{
    margin-left: 5vw;
}
.skills figure{
    text-align: center;
    font-size: 1.5rem;
}

.Achievements{
    height: 100vh;
    border: 2px solid var(--Background);
}
.ach-container{
    text-align: start;
    padding: 20px;
}
.ach-container a{
    text-decoration: none;
    color: var(--Text);
    font-weight: bold;
    font-size: 1.5rem;
    margin: 10px;
}
.problem-solving i,.sololearn-java i,.sololearn-web i,.sololearn-html i{
    font-size: 2.5rem;
    margin: 10px;
    color: rgb(86, 97, 118);
}
#check{
    color: green;
}

.contact{
    height: 100vh;
    border: 1px solid var(--Background);
}
.contact-container{
    width: 40%;
    height: 50%;
    text-align: center;
    background-color: rgb(230, 230, 230);
    border-radius: 10px;
    position: relative;
    left: 30%;
    top: 10%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: bold;
}
.contact-container p{
    display: inline;
}
.mob,.email{
    height: 47%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    background-color: var(--Secondary-Accent);
    border-radius: 10px;
}
.mob:hover,.email:hover{
    background-color: var(--Primary-Accent);
    color: var(--Background);
}

.mob i,.email i{
    font-size: 2rem;
}
.mob i,.mob np,.email i,.email p{
    margin: 10px;
} 

footer{
    height: 4rem;
    width: 100%;
    background-color: var(--Secondary-Accent);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 500;
}
footer span{
    font-weight: 500;
}


.desc,.projects,.About,.skills,.Achievements,.contact{
    transition:border-color 0.5s;
}

.dark-mode{
    --Background: #121212;
    --Primary-Accent: #3498db;
    --Secondary-Accent: #2ecc71;
    --Text: #ecf0f1;
    --Link-Color: #e74c3c;
    .dbtn{
        box-shadow: none;
    }
    #pic{
        border-color: var(--Secondary-Accent);
    }
    .About img{
        border-color: var(--Secondary-Accent);
    }
    .card{
        color: var(--Background);
    }
    .cbtn:hover{
        box-shadow: none;
        color: var(--Background);
    }
}

@media (max-width: 600px) {
    /* Styles for screens wider than 600px */
    .nav{
        display: none;
    }
    .ham-nav{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .desc{
        height: auto;
        flex-direction: column;
        /* background-color: antiquewhite; */
        justify-content: center;
    }
    .description{
        height: auto;
        width: auto;
        position: static;
        /* background-color:brown; */
    }
    .pic{
        display: none;
    }
    .pic2{
        display: block;
        width: 60%;
        margin: 20px auto;
    }
    .btn{
        text-align: center;
    }
    .socialicons{
        position: static;
        font-size: 1.5rem;
        /* background-color: aqua; */
    }
    .projects{
        height: auto;
    }
    .pcontainer{
        flex-direction: column;
        justify-content: center;
        /* background-color: aquamarine; */
        height: auto;
        gap: 1rem;
    }
    .todomockup img{
        height: 15rem;
    }
    .bgmockup img{
        height: 15rem;
    }
    .todomockup,.bgmockup{
        height:fit-content;
        width: auto;
        margin: 0;
        padding-bottom: 25px;
    }
    .About{
        height: auto;
    }
    .about-container{
        flex-direction: column;
        justify-content: center;
    }
    .about-pic{
        display: none;
    }
    .about-pic2{
        display: block;
        width: 70%;
        border: 5px solid var(--Primary-Accent);
        border-radius: 10px;
    }
    .about-text{
        width: 100%;
    }
    .card-container{
        flex-direction: column;
    }
    .skills{
        height: auto;
    }
    .skills div img{
        width: 15vw;
    }
    .skills figure{
        font-size: 1.25rem;
    }
    .Achievements{
        height: auto;
    }
    .ach-container{
        font-size: 1rem;
    }
    .contact-container{
        width: auto;
        position: static;
        margin: 10px;
        height: 300px;
    }
    .mob{
        font-size: 1.25rem;
    }
    .email{
        font-size: 1rem;
    }
}